@using PYME_MVC.Models.ConfiguracionServicios
@using PYME_MVC.Models.InvocarServiciosGenerales
@using PYME_MVC.Models.Catalogos
@using PYME_MVC.Models.Entidad
@using Newtonsoft.Json;
@model PYME_MVC.Models.Entidad.SolicitudCredito
@{
    <meta name="viewport" content="width=device-width" />
    ViewBag.Title = "Plan de pagos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ConfiguracionServicios _host = new ConfiguracionServicios();
    List<Object> mSucursales = new Dal().JsonList(_host.HostPyme + "Busqueda/ObtieneCatAgencias/001/1");
    List<Object> lstPeriocidad = new Dal().JsonList(_host.HostPyme + "Busqueda/ObtieneCatPeriocidad/001/1");
    List<Object> lstProductos = new Dal().JsonList(_host.HostPyme + "Busqueda/ObtieneCatProductos/001/1");
    List<Credito> lstEstatusCredito = new Dal().ObtieneCatEstatusCredito("001", "2");
    var lstEstatusCreditoFilt = from p in lstEstatusCredito
                                where p.ind_estado == "A" || p.ind_estado == "R"
                                select p;

    Dictionary<string, string> lsttip_calendario = new Dictionary<string, string>();
    lsttip_calendario.Add("FINANCIERO (360)", "1");
    lsttip_calendario.Add("NATURAL (365)", "2");

    Dictionary<string, string> lsttip_cob_comision = new Dictionary<string, string>();
    lsttip_cob_comision.Add("CONTADO", "C");
    lsttip_cob_comision.Add("DESEMBOLSO", "D");
    lsttip_cob_comision.Add("FINANCIADO", "F");
    lsttip_cob_comision.Add("LIQUIDAR", "L");

    //INDICA SI LA COMISIÓN ES DE TIPO  P  = PORCENTAJE  M = MONTO    
    Dictionary<string, string> lsttip_comision = new Dictionary<string, string>();
    lsttip_comision.Add("PORCENTAJE", "P");
    lsttip_comision.Add("MONTO", "M");
}
<section id="Cuerpo">
    <h2>Selección Cuotas plan de pagos </h2>
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="container">
            <fieldset>
                <legend></legend>
                <div id="alert_placeholder"></div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.cod_agencia)
                        @Html.DropDownListFor(m => m.cod_agencia, new SelectList(mSucursales, "cod_agencia", "des_agencia"), "Seleccionar", new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(m => m.cod_agencia)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.tip_cliente)
                        @Html.TextBoxFor(m => m.tip_cliente, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(m => m.tip_cliente)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.num_credito)
                        @Html.TextBoxFor(m => m.num_credito, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(m => m.num_credito)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.num_cliente)
                        @Html.TextBoxFor(m => m.num_cliente, new { @class = "form-control", @readonly = true })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.rfc)
                        @Html.TextBoxFor(m => m.rfc, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(m => m.rfc)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.num_referencia)
                        @Html.TextBoxFor(m => m.num_referencia, new { @class = "form-control", placeholder = "No. Referencia", @readonly = true })
                        @Html.ValidationMessageFor(m => m.num_referencia)
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-4">
                        @Html.LabelFor(m => m.nombre)
                        @Html.TextBoxFor(m => m.nombre, new { @class = "form-control", @readonly = true })
                        @Html.ValidationMessageFor(m => m.nombre)
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(m => m.cod_producto)
                        @Html.DropDownListFor(x => x.cod_producto, new SelectList(lstProductos, "cod_producto", "nom_producto"), "Seleccionar", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.cod_producto)
                    </div>
                    <div class="col-md-3">
                        @{     var cod_producto = "0";
                               if (Model != null)
                               {
                                   if (Model.cod_producto != null)
                                   {
                                       cod_producto = Model.cod_producto;
                                   }
                               }
                               List<Object> lstTipo_Credito = new Dal().JsonList(_host.HostPyme + "Busqueda/ObtieneTipoCredito/001/" + cod_producto + "/none/1");
                        }
                        @Html.LabelFor(m => m.tip_credito)
                        @Html.DropDownListFor(x => x.tip_credito, new SelectList(lstTipo_Credito, "tip_credito", "des_tip_credito"), "Seleccionar", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.tip_credito)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.per_cuota)
                        @Html.DropDownListFor(x => x.per_cuota, new SelectList(lstPeriocidad, "tip_periodo", "desc_periodo"), "Seleccionar", new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.per_cuota)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.num_cuotas)
                        @Html.TextBoxFor(m => m.num_cuotas, new { @class = "form-control", placeholder = "No." })
                        @Html.ValidationMessageFor(m => m.num_cuotas)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.plazo_credito)
                        @Html.TextBoxFor(m => m.plazo_credito, new { @class = "form-control", placeholder = "No. Plazo", @readonly = true })
                        @Html.ValidationMessageFor(m => m.plazo_credito)
                    </div>

                    <div class="col-md-2">
                        @Html.LabelFor(m => m.fec_apertura)
                        @Html.TextBoxFor(m => m.fec_apertura, new { @class = "form-control", placeholder = "dd/mm/yyyy" })
                        @Html.ValidationMessageFor(m => m.fec_apertura)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.dia_pago)
                        @Html.TextBoxFor(m => m.dia_pago, new { @class = "form-control", placeholder = "No.", @readonly = true })
                        @Html.ValidationMessageFor(m => m.dia_pago)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.fec_vencimiento)
                        @Html.TextBoxFor(m => m.fec_vencimiento, new { @class = "form-control", placeholder = "dd/mm/yyyy", @readonly = true })
                        @Html.ValidationMessageFor(m => m.fec_vencimiento)
                    </div>
                    <div id="divpagos_a_capital" class="col-md-2">
                        @Html.LabelFor(m => m.pagos_a_capital)
                        @Html.TextBoxFor(m => m.pagos_a_capital, new { @class = "form-control", placeholder = "$" })
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2">
                        @Html.LabelFor(m => m.mon_comision)
                        @Html.TextBoxFor(m => m.mon_comision, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.mon_comision)

                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.tasa_anual)
                        @Html.TextBoxFor(m => m.tasa_anual, new { @class = "form-control", placeholder = "$" })
                        @Html.ValidationMessageFor(m => m.tasa_anual)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.tasa_mora)
                        @Html.TextBoxFor(m => m.tasa_mora, new { @class = "form-control", placeholder = "$", @readonly = true })
                        @Html.ValidationMessageFor(m => m.tasa_mora)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.mon_solicitado)
                        @Html.TextBoxFor(m => m.mon_solicitado, new { @class = "form-control", placeholder = "$" })
                        @Html.ValidationMessageFor(m => m.mon_solicitado)
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.por_iva)
                        @Html.TextBoxFor(m => m.por_iva, new { @class = "form-control", placeholder = "%" })
                        @Html.ValidationMessageFor(m => m.por_iva)
                    </div>
                    <div id="divgracia_principal" class="col-md-2">
                        @Html.LabelFor(m => m.gracia_principal)
                        @Html.TextBoxFor(m => m.gracia_principal, new { @class = "form-control", placeholder = "$" })
                    </div>
                </div>
                <div class="row">


                    <div id="divaforo" class="col-md-2">
                        @Html.LabelFor(m => m.aforo)
                        @Html.TextBoxFor(m => m.aforo, new { @class = "form-control", placeholder = "$" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <br />
                        <input id="btnGenerar" type="button" value="Registrar Plan de pagos" class="btn btn-primary" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="row">
                    <div id="grid"></div>
                </div>
            </div>
        </div>
    }
</section>
<br />
@*No mover el orden en que se invocan los script, si deseas a agregar que sea al final*@
<script src="~/Scripts/js/jquery-3.0.0.js"></script>
<script src="~/Scripts/js/jquery-1.9.1.js"></script>
<script src="~/Scripts/js/jquery.min.js"></script>
<link href="~/Scripts/css/bootstrap.css" rel="stylesheet" />
<link href="~/Scripts/css/kendo.common.min.css" rel="stylesheet" />
<link href="~/Scripts/css/kendo.default.min.css" rel="stylesheet" />
<script src="~/Scripts/js/kendo.web.min.js"></script>
<script src="~/Scripts/js/bootstrap.min.js"></script>
<script src="~/Scripts/Funcionalida/Creditos/SeleccionCuotasPlanPagos.js"></script>
<script src="~/Scripts/js/cultures/kendo.culture.es-MX.min.js"></script>
